:root{
    font-size: calc(0.5em + 1vw);
    box-sizing: border-box;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 56px 340px 1250px 750px 150px;
}

.menu{
    width: 100%;
    height: 56px;
    z-index: 1;
}

.menu .opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: 100%;
}

.menu .logo{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: #000;
    top: 4px;
    padding: 0 5px 5px;
    -wbkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu > .opciones > li > a {
    text-decoration: none;
    color: #fff;
}

.banner, .contact{
    justify-self: center;
    align-self: center;
    color: #fff;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 340px;
    background-image: url("../img/fondo.jpg");
}

.banner::before{
    background-color: #000;
    opacity: 0.5;
    content: "";
    height: 340px;
    position: absolute;
    width: 100%;
}

.banner h1{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 3em;
    margin: 0 auto 35px;
    font-weight: 400;
}

.banner h2{
    text-align: center;
    font-size: 0.8em;
}

.banner p{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin-top: 15px;
}

.contentBanner{
    z-index: 1;
}

.news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    background-color: #f5f5f5;
}

.baseNews{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 256px 350px;
    border-radius: 10px;
    background-color: #fff;
    margin: 3px;
}

.baseNews .newsImg{
    max-width: 100%;
    max-height: 100%;
}

.newsContent{
    padding: 10px;
}

.newsContent h3{
    color: #612e1d;
    padding-bottom: 15px;
}

.newsContent p{
    padding: 15px 0;
}

.btnNews, .contact input[type="submit"]{
    text-align: center;
    margin: 5px auto;
    background-color: orange;
    border-radius: 3px;
    padding: 20px;
    width: 100%;
    transition: 0.3s;
}

.btnNews:hover{
    background-color: #fff;
    transition: 0.3s;
}

.btnNews:hover a{
    color: orange;
    transition: 0.3s;
}

.btnNews a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.newsImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.contact{
    height: 750px;
    background-image: url("../img/contacus.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contact form{
    align-self: center;
    justify-self: center;
    padding: 1em;
    width: 90%;
}

.contact input[type="text"], .contact input[type="email"], .contact textarea{
    width: 100%;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 0.5em;
    margin: 10px auto;
}

.contact textarea{
    resize: none;
}

.contact input[type="submit"]{
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border: 0;
}



.contactInfo{
    align-self: center;
    justify-self: center;
}

.contactInfo::before{
    background-color: #000;
    opacity: 0.2;
    content: "";
    height: 700px;
    position: absolute;
    width: 49%;
    border-radius: 15px;
    z-index: 1;
}

.contactText{
    width: 1fr;
    height: 700px;
    padding: 2em;
    z-index: 2;
}

.contactText h3{
    margin-bottom: 15px; 
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000;
    padding: 15px;
    color: #fff;
    align-content: center;
}

.links h4{
    font-size: 1.1em;
    margin-bottom: 10px;
}

.social ul li, .discover ul li{
    list-style: none;
}

.social a, .discover a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7em;
    line-height: 0.7em;
    margin-left: 30px;
}

.social i{
    padding-right: 3px; 
}

@media only screen and (max-width: 1024px) {

    .container{
        grid-template-rows: 56px 340px 1850px 600px 150px;
    }

    .news{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .contact{
        height: 600px;
    }

    .contactInfo::before{
        height: 575px;
    }
    
}